@charset "utf-8";
body {
  font-family:'Noto Sans KR','Noto Sans', HelveticaNeue-Light, sans-serif;
  padding:0 70px; letter-spacing:-0.5px;
}
.mobile { text-align:center; }
.mobile h3 { font-size:18px; color:#7B0092; margin-top:200px; }
.mobile h3 span { font-size:40px; }
.mobile p { font-size:20px; margin-top:30px; }
.mobile .button { font-size:17px; border:2px solid #7B0092; margin:30px auto; padding:15px; box-sizing:border-box; border-radius: 20px;
}
.mobile .button a { padding:15px; text-decoration:none; color:inherit; }

header, .container, footer { display:none; }

@media screen and (min-width: 1440px) {
header, .container, footer { display:block; }
.mobile { display:none; }
header {
  width:100%; height:150px;
  box-sizing:border-box;
  position: relative;
  border-bottom:1px solid;
}
header ul {
  height:150px;
  display:flex;
  padding:0; margin:0;
  box-sizing: border-box;
  list-style:none;
}
header ul li {
  list-style:none;
  padding:0 20px 0 0;
  line-height:150px;
  flex:none;
}
header ul li a {
  text-decoration:none;
  color:#212221;
  display:block;
}
header ul li:nth-child(1) {
  font-size:45px;
  padding-left:30px;
}
header ul li:nth-child(2) {
  font-size:25px;
  margin-left: auto;
}
header ul li:nth-child(3) {
  font-size:25px;
}
header ul li:nth-child(4) {
  padding:0;
  margin-top:12px;
  padding-right:30px;
}

.container .main {
  margin-bottom :80px;
}
.container .main ul {
  height:30px;
  margin:10px 0;
  padding:0;
  list-style:none;
}
.container .main li {
  float:left;
  width:50%;
  line-height:30px;
  font-size:34px;
}
.container .main li:nth-child(2) {
  text-align:right;
  position: relative;
}
.container .main h1 {
  line-height:1.1;
  font-size:10em;
  margin-top:20px;
  opacity: 0;
  animation: ani 0.5s linear forwards;
  animation-delay:0.3s;
}
@keyframes ani {
  from {
    transform: translateY(-80px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.puff-out
{            
  animation: puff 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes puff
{
    0%
    {
        transform: none;
    }
    100%
    {
        transform: scale(1.2);
        opacity: 0;
    }
}
.container .main h1 span {
  font-weight:700;
  color:#fff;
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}
.container .main .background {
  background-color:#E6DDED;
  height:45vh;
  margin-top:80vh;
  position: relative;
}
.container .main .mockup_wrap .background .mockup {
  background-image:url(images/ventimockup2.png);
  width:100%; height:120vh;
  background-size:cover;
  position: absolute;
  top:-80vh;
  left:0;
}
.container .contents {
  margin-top:25vh;
}
.container .contents .txtbg {
  height:4.9vh;
  position: relative;
}
.container .contents h3 {
  background-color:#E6DDED;
  height:50%;
  position: absolute;
  top:-20px; left:50%;
  transform:translate(-50%,0);
  margin:0 auto;
  font-size:2.813em;
}
.container .contents #box1 {
  width:50%;
  height:69vh;
  float:left;
}
.container .contents #box1 ul {
  padding:0;
  list-style:none;
  font-size:1.563em;
  line-height:2.5;
  margin-top:80px;
}
.container .contents #box1 .left {
  text-align:right;
  width:15%;
  float:left;
  margin-right:30px;
}
.container .contents #box1 .right {
  width:85%;
}
.container .contents #box2 {
  width:50%;
  height:69vh;
  margin-left:auto;
}
.container .contents #box2 .left {
  list-style:none;
  padding:0;
  text-align:right;
  width:30%;
  float:left;
  font-size:1.563em;
  line-height:2.5;
  margin-top:80px;
}
.container .contents #box2 .right {
  padding:0;
  list-style:none;
  font-size:1.563em;
  overflow:hidden;
  width:70%;
  margin-top:80px;
}
.container .contents #box2 .right li {
  display:flex;
  line-height:2.5;
}
.container .contents #box2 .right .line {
  background-color:#E6DDED;
  width:20vw;
  height:3.4vh;
  margin:0 20px;
  margin-top:18px;
}
.container .contents #box2 .right #line2 {
  width:16vw;
}
.container .contents #box2 .right #line3 {
  width:18vw;
}
.container .contents #box3 p {
  font-size:1.688em;
  line-height:2;
  text-align:center;
  margin:85px 0 350px 0;
  
}
.container .contents #box4 {
}
.container .contents #box4 ul {
  padding:0 200px;
  list-style:none;
  display:flex;
  justify-content:space-around;
  margin:85px 0 350px 0;
}
.container .contents #box4 ul .round {
  width:290px;
  height:290px;
  border:4px solid #E6DDED;
  border-radius:50%;
  text-align:center;
  line-height:1.8;
  padding-top:70px;
  box-sizing:border-box;
}
.container .contents #box4 ul .round span {
  font-weight:700;
  font-size:27px;
}
.container .contents #box5 ul li span {
  font-weight:700;
  font-size:27px;
}
.container .contents #box5 p {
  font-size:1.688em;
  line-height:2;
  text-align:center;
  margin:85px 0;
}
.container .contents #box5 .before {
  padding:0;
  display:flex;
  position: relative;
  text-align:center;
  height:300px;
}
.container .contents #box5 .before .round {
  width:230px;
  height:230px;
  border:4px solid #E6DDED;
  border-radius:50%;
  line-height:1.8;
  padding:0;
  padding-top:70px;
  box-sizing:border-box;
  list-style:none;
  position: absolute;
}
.container .contents #box5 .before #round5 {
  top:0;
  left:49%;
}
.container .contents #box5 .before #round6 {
  top:0;
  right:49%;
}
.container .contents #box5 .arrow {
  background-image:url(images/down_arrow.png);
  background-repeat:no-repeat;
  background-size:contain;
  width:50px;
  height:50px;
  margin:70px auto;
}
.container .contents #box5 .after {
  padding:0 200px;
  display:flex;
  position: relative;
  text-align:center;
  justify-content:space-around;
}
.container .contents #box5 .after .round {
  width:290px;
  height:290px;
  border:4px solid #E6DDED;
  border-radius:50%;
  text-align:center;
  line-height:1.8;
  padding-top:70px;
  box-sizing:border-box;
  list-style:none;
}
.container .contents #box5 .button {
  width:70px;
  height:70px;
  border:2px solid #7B0092;
  margin:0 auto 150px;
  line-height:70px;
  border-radius:50%;
  font-size:12px;
  text-align:center;
  animation: loading 1s infinite alternate;
}
@keyframes loading {
  0%, 100% {
  transform: translateY(0);
  }
  50% {
  transform: translateY(8px);
  }
}

.container .contents #box5 a {
  padding:30px 5px;
  text-decoration:none;
  color:inherit;
}
.container .contents #box5  .button:hover {
  background-color:#7B0092;
  color:#fff;
}
.container .contents #box6 .bracket_wrap {
  display:flex;
  margin:120px auto 300px;
  text-align:center;
  justify-content:center;
}
.container .contents #box6 .bracket {
  font-size:180px;
  color:#7B0092;
}
.container .contents #box6 p {
  font-size:3.438em;
  margin:40px 50px;
}
.container .contents #box6 strong {
  font-size:65px;
  color:#7B0092;
}
.container .contents #box7 {
  margin-bottom:250px;
}
.container .contents #box7 .persona_wrap {
  margin:85px auto;
  display:flex;
}
.container .contents #box7 figure {
  width:300px; height:300px;
  margin-left:200px;
  margin-right:80px;
}
.container .contents #box7 figcaption {
  text-align:center;
  font-size:35px;
}
.container .contents #box7 .profile {
  padding:30px 0;
  float:left;
}
.container .contents #box7 .profile ul {
  padding:0;
  margin-bottom:50px;
  list-style:none;
  line-height:1.5;
}
.container .contents #box7 .left {
  width:10%;
  float:left;
  font-size:17px;
  font-weight:bold;
  color:#7B0092;
}
.container .contents #box7 .right {
  width:80%;
  font-size:17px;
}
.container .contents #box7 p {
  font-size:17px;
  line-height:1.5;
}
.container .contents #box7 .uxflow_wrap {
  width:65%;
  margin:100px auto;
  display:flex;
  text-align:center;
  
}
.container .contents #box7 .uxflow_wrap .uxflow {
  margin:0 auto;
  
}
.container .contents #box7 .uxflow_wrap .uxflow .flow_wrap {
  display:flex;
}
.container .contents #box7 .uxflow_wrap #uxflow1 {
  width:140px;
  display:block;
}
.container .contents #box7 .uxflow_wrap #uxflow2 {
  width:700px;
}
.container .contents #box7 .uxflow_wrap #uxflow3 {
  width:280px;
}
.container .contents #box7 .uxflow_wrap .uxflow .flow {
  width:120px;
  height:120px;
  border-radius:50%;
  border:2px solid #E6DDED;
  margin:0 auto;
  margin-top:30px;
  box-sizing:border-box;
}
.container .contents #box7 .uxflow_wrap .uxflow .flow p {
  font-size:15px;
  margin-top:40px;
}
.container .contents #box7 .uxflow_wrap .uxflow .title {
  width:100%;
  height:20px;
  color:#fff;
  padding:4px 0;
}
.container .contents #box7 .uxflow_wrap .uxflow #title1 {
  background-color:#B097C9;
}
.container .contents #box7 .uxflow_wrap .uxflow #title2 {
  background-color:#954BB7;
}
.container .contents #box7 .uxflow_wrap .uxflow #title3 {
  background-color:#7B009E;
}
.container .contents #box8 {
  margin-bottom:250px;
}
.container .contents #box8 p {
  font-size:1.688em;
  line-height:2;
  text-align:center;
  margin:85px 0;
}
.container .contents #box8 .button {
  width:70px;
  height:70px;
  border:2px solid #7B0092;
  margin:0 auto 150px;
  line-height:70px;
  border-radius:50%;
  font-size:12px;
  text-align:center;
  animation: loading 1s infinite alternate;
}
@keyframes loading {
  0%, 100% {
  transform: translateY(0);
  }
  50% {
  transform: translateY(8px);
  }
}
.container .contents #box8 a {
  padding:30px 5px;
  text-decoration:none;
  color:inherit;
}
.container .contents #box8 .button:hover {
  background-color:#7B0092;
  color:#fff;
}
.container .contents #box8 .workflow {
  background-image:url(images/workflow.png);
  background-repeat:no-repeat;
  background-position-x:35%;
  background-size:contain;
  height:100vh;
}
.container .contents #box9 .styleguide {
  padding:180px 150px;
  box-sizing:border-box;
}
.container .contents #box9 .style1 {
  display:flex;
}
.container .contents #box9 .style1 .color {
  width:888px;
  display:flex;
  justify-content:center;
}
.container .contents #box9 .style1 .color div {
  width:135px;
  height:135px;
  border-radius:50%;
  color:#fff;
  text-align:center;
  line-height:135px;
  font-size:20px;
  margin:0 10px;
}
.container .contents #box9 #color1 {
  background-color:#7B0092;
}
.container .contents #box9 #color2 {
  background-color:#FF5B28;
}
.container .contents #box9 #color3 {
  background-color:#291B35;
}
.container .contents #box9 #color4 {
  background-color:#DBDADA;
  color:#000;
}
.container .contents #box9 .style1 #colortxt,
.container .contents #box9 .style2 #icontxt,
.container .contents #box9 .style3 #buttontxt {
  border:none;
  font-size:17px;
  line-height:1.5;
  padding:40px 0;
}
.container .contents #box9 .style2 .icon_wrap {
  margin:50px 0;
}
.container .contents #box9 .style2 .icon_wrap,
.container .contents #box9 .style3 .button_wrap {
  display:flex;
}
.container .contents #box9 .style2 #icon,
.container .contents #box9 .style3 #button {
  width:60%;
  text-align:center;
}
.container .contents #box10 {
  margin-bottom:250px;
}
.container .contents #box10 video {
  width:100%;
  margin-top:180px;
}
.container .contents #box11 {
  width:50%;
  height:69vh;
  float:left;
}
.container .contents #box12 {
  width:50%;
  height:69vh;
  margin-left:auto;
}
.container .contents #box11 ul,
.container .contents #box12 ul {
  padding-left:100px;
  font-size:1.4em;
  line-height:2.5;
  margin-top:80px;
}
.container .contents #box12 ul li:nth-child(1) {
  line-height:1.5;
}
.container .contents #box13 {
  height:450px;
  background-color:#E6DDED;
}
.container .contents #box13 h3 {
  position:static;
  transform:none;
  text-align:center;
  padding-top:70px;
  height:60px;
  margin-top:120px;
}
.container .contents #box13 .p_wrap {
  margin:0 auto;
  margin-top:60px;
  width:75%;
  line-height:1.3;
}
.container .contents #box13 p {
  font-size:20px;
}

footer {
  padding-top:100px;
}
footer .button_wrap {
  display:flex;
  justify-content:center;
}
footer .button {
  border:1px solid;
  width:250px;
  text-align:center;
  margin:0 100px;
}
footer .button a {
  text-decoration:none;
  padding:12px 8px;
  color:inherit;
  display:block;
}
footer .button:hover a {
  background-color:#000;
  color:#fff;
}
footer .up img {
  display:block;
  margin:30px auto;
}
}