@charset "utf-8";
html, body ,ul, li {
    font-family:"Helvetica Neue","Apple SD Gothic Neo",sans-serif; color:#58585b; margin:0; padding:0; text-decoration:none; 
}
header {
    height:75px;
    position:relative;
    background-image:url(images/bars-solid.svg);
    background-repeat:no-repeat;
    background-size:20px;
    background-position:335px 28px;
}
header h1 {
    margin:0;
}
header h1 img {
    width:138px;
    position:absolute;
    top:25px; left:20px;
}
header .nav {
    display:none;
}
.container .box1 {
    background-image:url(images/main2.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height:550px;
    background-position-x:45%;
}
.container .box1 h1 {
    margin:0;
    color:#fff;
    font-size:25px;
    text-align:center;
    line-height:550px;
}
.container .box2 {
    height:545px;
    padding:87px 20px;
    box-sizing:border-box;
}
.container .box2 {
    padding:0 20px;
    padding-top:88px;
}
.container .box2 p {
    text-align: justify;
    font-size:15px;
    line-height:1.7;
}
.container .box3 { 
    height:750px;
}
.container .box3 h3 {
    margin-bottom:52px;
    padding:0 20px;
    line-height:1.5;
}
.container .box3 p {
    font-size:14px;
}
.container .box3 .icon {
    width:49.3%; height:209px;
    float:left;
    margin:0 auto;
}
.container .box3 .icon1,
.container .box3 .icon3,
.container .box3 .icon5 {
    border-right:1px solid #ddd;
}
.container .box3 .icon1,
.container .box3 .icon2,
.container .box3 .icon3,
.container .box3 .icon4 {
    border-bottom:1px solid #ddd;
}
.container .box3 .icon img {
    width:135px;
    display:block;
    margin:0 auto;
    margin-top:20px;
    box-sizing:border-box;
}
.container .box3 .icon p {
    text-align:center;
    padding:0 20px; margin-top:5px; margin-bottom:0;
    line-height:1.5
}
.container .box4 {
    padding:75px 20px;
}
.container .box4 li {
    font-size:13px;
    margin-bottom:15px;
    line-height:1.6;
    list-style:none;
}
.container .box5 {
    display:flex;
    flex-direction:column;
}
.container .box5 .chapter1 { order:1; }
.container .box5 .chapter2 { order:2; }
.container .box5 .chapter3 { order:4; }
.container .box5 .chapter4 { order:3; }
.container .box5 .chapter1 img,
.container .box5 .chapter4 img {
    max-width:345px; height:400px;
    display:block;
    margin:0 auto;
}
.container .box5 .chapter2,
.container .box5 .chapter3 {
    height:253px;
    text-align:center;
    line-height:1.6;
    font-size:13px;
    padding:100px 20px;
    
    box-sizing:border-box;
}
.container .box5 .chapter2 hr,
.container .box5 .chapter3 hr {
    width:30px;
    border:1.5px solid #173660;
}
.container .contents {
    background-color:#dbe2ea;
    margin-top:100px;
    position:relative;
    padding-bottom:92px;
}
.container .contents .grain {
    width:345px; height:400px;
    object-fit:cover;
    display:block;
    margin:0 auto; padding-top:150px;
    
}
.container .contents .box6 {
    padding:150px 20px 0 20px;
    font-size:14px;
    line-height:1.6;
    margin-bottom:92px;
}
.container .contents .box6 h3 {
    text-align:center;
    margin-bottom:45px;
}
.container .contents .inside div {
    width:345px; height:345px;
    box-sizing: border-box;
    background-color:rgba(255,255,255,0.6);
    margin:0 auto;
    padding-left:55px;
    padding-top:40px;
    margin-bottom:92px;
    position:relative;
}
.container .contents .inside div .section1 {
    margin-top:92px;
}
.container .contents .inside div li {
    line-height:2.3;
    font-size:15px;
}
.container .contents .inside div li a {
    color:inherit;
    text-decoration:none;
}
.container .contents .inside div:nth-child(2) {
    padding-left:25px;
}
.container .contents .inside div:nth-child(2) li {
    line-height:3;
    list-style:none;
}
.container .contents .inside div:nth-child(2) li img {
    margin-right:10px;
}
.container .contents .inside p {
    height:70px; width:345px; margin:0;
    color:#fff;font-size:14px;
    background-color:rgba(21,54,97,0.6);
    line-height:70px;
    text-indent:20px;
    position:absolute;
    bottom:0; left:0;
}
.container .contents .inside div:nth-child(3) {
    background-image:url(images/instagram.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    margin-bottom:0;
}
.container .contents .box7 {
    padding-top:75px;
}
.container .box7 h3 {
    text-align:center;
    margin:45px;
}
.container .box7 div {
    width:49.8%; height:150px;
    float:left;
    margin:0 auto;
    border-bottom:1px solid #ddd;
}
.container .box7 div img {
    width:170px;
    display:block;
    margin:0 auto;
    padding-top:30px;
    box-sizing:border-box;
}
.container .box7 div:nth-child(even) {
    border-right:1px solid #ddd;
}
footer {
    height:130px;
    text-align:center;
    font-size:13px;
    clear:both;
    line-height:130px;
}

@media (min-width:1440px) {

    html, body {
        text-align:center;
    }

    header {
    width:1290px; height:100px;
    background-image:url(images/bars-solid.svg);
    background-repeat:no-repeat;
    background-position:-9999px;
    margin:0 auto;
    }
    header h1 img {
        width:138px;
        position:absolute;
        top:35px; left:0;
    }
    header .nav {
        display:block;
        float:right;
    }
    header .nav li {
        float:left;
        width:150px;
        text-align:center;
        line-height:100px;
        list-style:none;
    }
    header .nav li a {
        color:inherit;
        text-decoration:none;
    }
    header .nav li a:hover {
        font-weight:bold;
        text-decoration:underline;
    }
    .container .box1 {
        width:1290px; height:750px;
        background-image:url(images/main2.jpg);
        background-repeat:no-repeat;
        margin:0 auto;
    }
    .container .box1 h1 {
        font-size:38px;
        line-height: 750px;
    }
    .container .box2 {
        margin:0 75px;
        text-align:center;
    }
    .container .box2 p {
        text-align:center;
    }
    .container .box3 {
        width:1290px; height:600px;
        margin:0 auto;
    }
    .container .box3 .icon {
        width:33.2%; height:209px;
        float:left;
        margin:0 auto;
        border:transparent;
    }
    .container .box3 .icon1,
    .container .box3 .icon2,
    .container .box3 .icon3 {
        border-bottom:1px solid #ddd;
    }
    .container .box3 .icon1,
    .container .box3 .icon2,
    .container .box3 .icon4,
    .container .box3 .icon5 {
        border-right:1px solid #ddd;
    }

    .container .box4 {
        width:700px;
        margin:0 auto;
        text-align:left;
        font-size:15px;
    }
    .container .box4 ul li {
        list-style:circle;
    }
    .container .box5 {
        width:1290px;
        margin:0 auto; margin-top:100px;
        display:flex;
        flex-flow : row wrap;
    }
    .container .box5 > div {
        width:645px; height:465px;
    }
    .container .box5 .chapter2,
    .container .box5 .chapter3 {
        width:645px; height:465px;
        padding-top:230px;
    }
    .container .box5 .chapter1 img,
    .container .box5 .chapter4 img {
    max-width:100%; height:auto;
    display:block;
    margin:0 auto;
    }
    .container .box5 .chapter1 { order:1; }
    .container .box5 .chapter2 { order:2; }
    .container .box5 .chapter3 { order:3; }
    .container .box5 .chapter4 { order:4; }
    .container .contents {
    }
    .container .contents .grain {
        width:1290px; height:500px;
        margin:0 auto; padding-top:200px;
    }
    .container .contents .box6 {
        padding:200px 20px 0 20px;
        line-height:1.6;
        width:1290px;
        margin:0 auto;
        box-sizing:border-box;
    }
    .container .contents .box6 h3 {
        text-align:center;
        margin-bottom:45px;
    }
    .container .contents .listwrap {
        margin:0 auto;
        margin-bottom:200px;
        width:940px;
        overflow: hidden;
        line-height:2;
    }
    .container .contents .list {
        width:400px; 
        float:left;
        text-align:left;
        margin-left:70px;
    }
    .container .contents .inside {
        clear:both;
        width:1290px;
        overflow: hidden;
        margin:0 auto;
    }
    .container .contents .inside div {
        width:31%; height:400px;
        background-color:rgba(255,255,255,0.4);
        float:left;
        position:relative;
        margin:0;
        box-sizing:border-box;
    }
    .container .contents .inside div p {
        width:80%; height:85px;
        background-color:rgba(23,54,96,0.7);
        color:#fff;
        position:absolute;
        bottom:0; left:0;
        margin:0;
        line-height:85px;
        text-align:left; text-indent:50px;
    }
    .container .contents .inside .section1,
    .container .contents .inside .section2 {
        margin-right:45px;
        box-sizing:border-box;
        font-size:14px;
    }
    .container .contents .inside .section2 ul {
        padding-left:25px;
    }
    .container .contents .inside .section1 ul li {
        list-style:circle;
        text-align:left;
        line-height:3;
    }
    .container .contents .inside .section1 ul li a {
        color:#58585b;
    }
    .container .contents .inside .section1 ul li a:hover {
        font-weight:bold;
        text-decoration:underline;
    }
    .container .contents .inside .section2 img {
        width:15px;
        margin-right:10px;
        vertical-align:middle;
        color:#58585b;
    }
    .container .contents .inside .section2 ul li {
        text-align: left;
        vertical-align:middle;
        height:48px;
        margin:13px 0;
    }
    .container .contents .inside .section3 {
        background-image:url(images/instagram.jpg);
        background-repeat:no-repeat;
        background-size:cover;
    }
    .container .box7 {
        width:85%; height:600px;
        margin:0 auto;
        margin-bottom:173px;
        margin-top:200px;
    }
    .container .box7 h3 {
        margin:100px;
    }
    .container .box7 div {
        width:24%;
        height:245px;
        float:left; 
    }
    .container .box7 div img {
        margin-top:60px; padding:0;
        width:90%;
    }
    .container .box7 .brand1,
    .container .box7 .brand2,
    .container .box7 .brand3,
    .container .box7 .brand4 {
        border-bottom:1px solid #ddd;
    }
    .container .box7 .brand1,
    .container .box7 .brand2,
    .container .box7 .brand3,
    .container .box7 .brand5,
    .container .box7 .brand6,
    .container .box7 .brand7 {
        border-right:1px solid #ddd;
    }
    .container .box7 .brand5,
    .container .box7 .brand6,
    .container .box7 .brand7, 
    .container .box7 .brand8 {
        border-bottom:none;
    } 
    footer {
        clear:both;
        display:block;
        height:45px;
        background-color:#282b32;
        color:#fff;
        text-align:center;
        line-height:45px;
    }
}