@charset "utf-8";

body { font-family: 'Noto Sans', sans-serif; }
ul { padding:0; margin:0; list-style:none; display:flex; }
a { text-decoration:none; color:#000; }

header { width:100%; position:fixed; z-index:2;}
header .mobile { background-color:rgba(255,255,255,0.3); justify-content:space-around; align-items:center; }
header ul li {
    width:60px;
    font-size:14px;
    padding:20px 10px;
    text-align:center;
}
header .mobile_menu {
    width:100%; height:100%;
    background-color:#fff;
    position: fixed; top:0; left:0; 
    z-index:99;
    display:none;
}
header .mobile_menu .info {
    width:90%; margin:100px auto 50px;
    font-size:14px;
}
header .mobile_menu .info li {
    padding:20px 10px; width:25%;
}
header .category { display:block; }
header .category li { width:80%; margin:0 auto; text-align:center; font-size:28px; font-weight:bold;padding:40px 0; }
header .category li a { width:100%; padding:20px 80px;}
header .category li:last-child { font-size:14px; font-weight:lighter; color:#777; }
header .mobile li p { display:none; }
header .mobile li:nth-child(3) {
    width:200px;
    font-size:25px;
    font-weight:bold;
}
.pc, .btn { display:none; }
.container { position:absolute; bottom:0; left:0; width:100%; height:100%; overflow: hidden; z-index:1;}
.container .imgBtn { position:fixed; top:45%; }
.container .imgBtn li { width:50px; height:50px; background-color:rgba(0,0,0,0.5); color:#fff; font-weight:bold; line-height:50px; text-align:center; }
.container .imgBtn #right { position:fixed; right:0; }
.container .gallery { width:1500px; }
.container .gallery li { text-indent:-9999px; width:100vw; height:100vh; background-size:cover; } 
.container .gallery .img1{ background-image:url(images/collection1.jpg); background-position:90%; }
.container .gallery .img2{ background-image:url(images/collection2.jpg);background-position:30%;}
.container .gallery .img3{ background-image:url(images/collection3.jpg); }
.container .gallery .img4{ background-image:url(images/collection4.jpg); background-position:70%;}



/* pc */

@media screen and (min-width: 1280px) {

body li:hover a {
    font-weight:bold;
}
header { 
    height:85px;
    position: relative;
    
}
header .mobile { 
    display:none; 
}
header .pc { 
    display:flex;
    margin-left:50px;
    margin-right:50px;
}
header .pc h1 {
    width:180px;
    text-align:center;
    margin:0 auto;
    margin-left:-90px;
    line-height:85px;
    position: absolute;
    left:50%;
}
header .pc li {
    width:70px;
}
header .pc .right {
    margin-left:auto;
}
.container {
    display:block;
    margin:0;
}
.container .imgBtn { cursor: pointer;}
.container .imgBtn #left { margin-left:100px; }
.container .imgBtn #right { margin-right:100px; }
.container .gallery { width:7680px; }
.container .gallery li { width:100%; }
.container .btn {
    display:block;
    position: relative;
}
.container .btn li:hover a {
    font-weight:normal;
    text-decoration: underline;
}
.container .btn a {
    padding:10px 20px;
}
.container .btn #left {
    position:fixed;
    top:45%; left:-80px;
    transform:rotate(-90deg);
}
.container .btn #right {
    position:fixed;
    top:45%; right:-80px;
    transform:rotate(90deg);
}

}